*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
a{
    display: inline;
    color: #6366f1;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}
body{
height:100vh;
}

.container1{
display:flex;
height:100vh;
}

.left-panel1{
flex:1;
background:linear-gradient(135deg,#4f46e5,#6366f1);
display:flex;
justify-content:center;
align-items:center;
color:white;
padding:40px;
}

.left-content1 h1{
font-size:40px;
margin-bottom:10px;
}

.subtitle1{
font-size:18px;
margin-bottom:8px;
}

.tagline1{
font-size:14px;
opacity:0.8;
}

.right-panel1{
flex:1;
background:#e5e7eb;
display:flex;
justify-content:center;
align-items:center;
}

.signup-card1{
background:white;
width:380px;
padding:40px;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,0.1);
text-align:center;
}

.signup-card1 h2{
margin-bottom:25px;
}

.input-group1{
position:relative;
margin-bottom:25px;
}

.input-group1 input{
width:100%;
padding:10px 0;
border:none;
border-bottom:1px solid #999;
outline:none;
}

.input-group1 label{
position:absolute;
top:10px;
left:0;
font-size:14px;
color:#777;
transition:0.3s;
}

.input-group1 input:focus ~ label,
.input-group1 input:valid ~ label{
top:-10px;
font-size:12px;
color:#4f46e5;
}

.button1{
width:100%;
padding:10px;
border:none;
background:#4f46e5;
color:white;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.button1:hover{
background:#4338ca;
}

.login-link1{
margin-top:20px;
font-size:13px;
}

#message{
margin-top:15px;
font-size:13px;
}
